@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
:root{
    --cinza: #F8F8F8;
    --azul: #36769A;
    --azullight:#67A9CC;
    --branco:#FFFFFF;
    --button: #4192BF;
    --button1: #8DBFDA;
}

.container{
    padding: 0 7%;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

header{
    width: 100vw;
    /* margin: 128px; */
    padding: 0 128px;
    background-color: FFFFFF;
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.logo{
    display: flex;
    font-size: 32px;
    font-weight: 600;
    margin: 10px;
    gap: 8px;
    color: var(--azul);
    margin-right: 847px;
}

ul{
    list-style: none;
    display: flex;
    text-decoration: none;
}

li{
    margin: 17px;
}

.nav{
    display: flex;
    align-items: center;
    justify-content: center;
}

a{
    list-style: none;
    display: flex;
    text-decoration: none;
    color: var(--azul);
    font-size: 16px;
    font-weight: 600;
}

/* Fim header */

.hero{
    background-color:var(--azullight) ;
    width: 100vw;
    color: var(--branco);

}

.container-hero{
    max-width: 120rem;
    width: 100vw;
    color: var(--branco);
    /* margin-left: 228px; */
    display: flex;
    /* gap: 20px; */
    justify-content: space-between;
    margin: 0 auto;
}

/* .hero{
    
} */
.hero-title{
    margin-top: 208px;
    font-size: 35px;
    font-weight: 500;
}

.hero-button{
    max-width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 124px;
    background-color: var(--button);
    border-radius: 15px;
    border: 2px solid var(--branco);
    cursor: pointer;
    padding: 15px 29px;
}

.hero-button p{
    font-size: 32px;
    font-weight: 600;
    margin-right: 20px;
}

.hero-button img{
    z-index: 3;
    width: 60px;
    height: 60px;
}


.hero-img{
    margin-top: 100px;
    width: 650px;
    /* height: 617px; */
}

/* Inicio Serviços*/

.container-grid{
    display: flex;
    gap: 9rem;
    margin-left: 284px;
}

.services{
    background-color: var(--cinza);
    width: 100vw;
}

.services-title{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 30px;
}

.services-title h2{
    color: var(--azul);
    font-size: 46px;
    font-weight: 600;
    line-height: 69px;
}

.services-title p{
    color: var(--azullight);
    font-size: 32px;
    margin-bottom: 50px;
}

.grid-services{
    box-shadow: 9px 9px 8px rgba(0, 0, 0, 0.1);
    background-color:var(--branco);
    width: 353px;
    border-radius: 10px;
    /* position: relative; */
    margin-bottom: 61px;
    gap: 20px;
}

.grid-services img{
    margin-top: 70px;
    margin-bottom: 39px;
    width: 100%;
    height: 88px;

}

.grid-services h3{
    color: var(--azul);
    font-size: 24px;
    font-weight: 600px;
    margin-bottom: 46px;
    text-align: center;
}

.grid-services p{
    display:inline-block;
    line-height: 24px;
    font-weight: 600px;
    font-size: 16px;
    color: var(--branco);
    background-color: var(--button1);
    padding: 9px 46px;
    border-radius: 15px;
    margin: 0px 61px;
    margin-bottom: 57px;
}

/*  Sobre */

.sobre{
    background-color: var(--azul);
}

.sobre h2{
    color: var(--branco);
    font-size: 46px;
    font-weight: 600;
    line-height: 69px;
    text-align: center;
    margin-top: 50px;
}

.sobre-img{
    /* margin-top: 98px; */
    margin-left: 24px;
    height: 600px;
}

.sobre-conteudo{
     display: flex;
     max-width: 1300px;
     gap:120px;
     margin: 0 auto;
     background-color: red;
}



.sobre-title{
    margin-top: 98px;
    /* padding-left: 203px;  */
}

.sobre-title h3{
    margin-bottom: 20px;
    color: var(--branco);
    font-weight: 400;
    font-size: 32px;
    line-height: 48px;
}


.sobre-title span{
    display: flex;
    margin-top: 20px;
    color: var(--branco);
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
}

.sobre-button{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: var(--button);
    margin-top: 63px;
    border-radius: 12px;
    border: 2px solid var(--branco);
    padding: 15px 20px;
    gap: 20px;
    cursor: pointer;
}

.sobre-button {
    color: var(--branco);
    font-weight: 600;
    font-size: 32px;
    line-height: 48px;
}

/* Equipe */
.equipe{
    background-color: var(--cinza);
}

.equipe-title h2{
    margin-top: 50px;
    margin-bottom: 30px;
    color: var(--azul);
    font-size: 46px;
    font-weight: 600;
    line-height: 69px;
   text-align: center;

}

.equipe-title p{
    color: var(--azullight);
    font-size: 32px;
    margin-bottom: 50px;
   text-align: center;
}

.contato{
    background-color: var(--azul);
}

.contato h2{
    margin-top: 50px;
    margin-bottom: 50px;
    color: var(--branco);
    font-size: 46px;
    font-weight: 600;
    line-height: 69px;
    text-align: center;
}

.container-contato{
    max-width: 1200px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin: 0 auto;
}

.contato-icon{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 50px;
}

.contato-icon p{
    color: var(--branco);
}

/* Parceiros */
.parceiros{
    background-color: var(--branco);
}

.parceiros h2{
    margin-top: 50px;
    margin-bottom: 50px;
    color: var(--azul);
    font-size: 46px;
    font-weight: 600;
    line-height: 69px;
    text-align: center;
}

.container-parceiros{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 50px;
    margin: 0 auto;
    max-width: 1200px;
}

.container-parceiros img{
    width: 130px;
    margin-bottom: 50px;
}

/* Localização */

.localizacao{
    background-color: var(--azul);
}

.container-localizacao{
    display: flex;
    flex-direction: column;
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
}

.container-localizacao h2{
    margin-top: 50px;
    margin-bottom: 30px;
    color: var(--branco);
    font-size: 46px;
    font-weight: 600;
    line-height: 69px;
}

.container-localizacao h4{
    color: var(--branco);
    font-size: 24px;
    margin-bottom: 50px;
    font-weight: lighter;
    line-height: normal;
}


iframe{
    width: 50vw;
    /* height: 80vh; */
    margin-bottom: 50px;
    border-radius: 8px;
}

footer{
    background-color: var(--cinza);
    display: flex;
    padding: 23px 0;
    text-align: center;
}

.footer-text{
    display: flex;
    gap: 12px;
    margin: 0 auto;
    text-align: center;
    align-items: center;
}

/* Media */
@media(max-width:480px){
    /* header */

    .logo{
        margin: 0 auto;
        padding: 15px;
    }

    nav{
        display: none;
    }

    /* Contato */
    .container-parceiros{
        max-width: 430px;
        gap: 10px;
    }

    .container-contato{
        max-width: 430px;
    }

    .contato-icon{
        gap: 2px;
    }

    .contato-icon p{
        font-size: 10px;
    }

    .contato-icon img{
        width: 30px;
    }

     /* Localização */
    iframe{
        height: 35vh;
        width: 90vw;
        /* height: 80vh; */
        /* margin-bottom: 50px; */
        /* border-radius: 8px; */
    }
}